<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBxYbdVevVra3wR7WfDdYE54lTcSaIE8_Q</string>
	<key>GCM_SENDER_ID</key>
	<string>179839852522</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.oneohm.consumer</string>
	<key>PROJECT_ID</key>
	<string>oneohm-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>oneohm-prod.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:179839852522:ios:709157ebd9a12273251c93</string>
</dict>
</plist>
